{% extends "blog/base.html" %}


{% block content %}
  <h1>Мои записи</h1>
  {% if appointments %}
     <div class="table-responsive">
        <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Дата Записи</th>
      <th scope="col">Описание</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
      <tr id="appointmentRow{{ appointment.id }}">
        <td>{{ appointment.doctor.profile.full_name }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.description }}</td>
        <td>
          <form id="deleteForm{{ appointment.id }}" data-appointment-id="{{ appointment.id }}">
            {% csrf_token %}
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteAppointment({{ appointment.id }})">Удалить</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function deleteAppointment(appointmentId) {
    var form = document.getElementById("deleteForm" + appointmentId);

    if (confirm("Вы уверены, что хотите удалить эту запись?")) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/appointments/delete/" + appointmentId + "/", true);
      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          // Запись успешно удалена, удаляем строку таблицы
          var appointmentRow = document.getElementById("appointmentRow" + appointmentId);
          appointmentRow.parentNode.removeChild(appointmentRow);
        }
      };
      xhr.send(new FormData(form));
    }
  }
</script>
      </div>
  {% else %}
    <p>У вас нет записей.</p>
  {% endif %}
{% endblock %}
