{% extends "blog/base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Нормализованный продукт</th>
                <th>Категория</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.product_norm }}</td>
                    <td>{{ product.cat_norm }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Пожалуйста, войдите в систему, чтобы просмотреть историю покупок.</p>
{% endif %}

{% endblock content %}